<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Consulta l'archivio</h1>
	<div>
		<a href="/recipe">Elenco ricette</a>
	</div>
	<div>
		<a href="/chef">Elenco cuochi</a>
	</div>
	<h1>Operazioni per amministratore</h1>
	<div>
		<a href="/admin/indexRecipe">Operazioni sulle ricette</a>
	</div>
	<div>
		<a href="/admin/indexChef">Operazioni sui cuochi</a>
	</div>
</body>

</html>