<!DOCTYPE html>
<html>
<head>
    <title>Manage Recipes</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
    <div th:replace="~{fragments :: Stylesheet}"></div>
</head>

<body>
    <div th:replace="~{fragments :: NavbarAdmin}"></div>

    <h1 class="text-center text-uppercase fw-bolder pt-3">Gestisci ricette</h1>
    
    <div class="list-group" th:if="${recipes.isEmpty()}">
        Non ci sono ricette nel sistema
    </div>

    <div class="container mt-5" th:unless="${recipes.isEmpty()}">
        <ul class="list-group">
            <li th:each="recipe : ${recipes}" class="list-group-item d-flex justify-content-between align-items-center">
                <span th:text="${recipe}">Lasagna (Carlo Cracco)</span>
                <!-- BOTTONI MODIFICA E RIMUOVI -->
                <div>
                    <button type="button" th:onclick="'location.href=\'/admin/formUpdateRecipe/' + ${recipe.id} + '\';'" 
                            class="btn btn-success btn-sm me-2">Modifica</button>
                    <button type="button" th:onclick="'location.href=\'/admin/removeRecipe/' + ${recipe.id} + '\';'" 
                            class="btn btn-danger btn-sm">Rimuovi</button>
                </div>
            </li>
        </ul>
    </div>
    
	 <div th:replace="~{fragments :: Footer}"></div>
    
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
