<!DOCTYPE html>
<html>
	<head>
		<title>SiwFood - Homepage</title>
		<link rel="stylesheet" href="/stile.css?version=2" />
	</head>
	
<body>
	<div><img src="C:\Users\caste\OneDrive - Universita degli Studi Roma Tre\spring-projects\siw-food-01\src\main\resources\static\images" width="50%" /></div>
	<h1>Consulta</h1>
	<div>
		<a href="/recipe">Ricette</a>
	</div>
	<div>
		<a href="/formSearchRecipe">Cerca ricetta</a>
	</div>
	<div>
		<a href="/chef">Cuochi</a>
	</div>
	<div>
		<a href="/ingredient">Ingredienti</a>
	</div>
	
	<h1>Inserisci</h1>
	<div>
		<a href="/formNewRecipe">Inserisci nuova ricetta</a>
	</div>
	<div>
		<a href="/formNewChef">Inserisci nuovo cuoco</a>
	</div>
	<div>
		<a href="/formNewIngredient">Inserisci nuovo ingrediente</a>
	</div>
	
	<h1>Operazioni</h1>
	<div>
		<a href="/indexRecipe">Operazioni sulle ricette</a>
	</div>
	<div>
		<a href="/register">Registrati</a>
	</div>
	<div>
		<a href="/login">Login</a>
	</div>
</body>
</html>