<!DOCTYPE html>
<html>
  <head>
    <title>Ingredients</title>
    <link rel="stylesheet" href="/stile.css?version=2" />
  </head>

  <body>
    <div><a href="/">Home</a></div>
    <h1>Ingredienti</h1>
    <div th:if="${ingredients.isEmpty()}">Non ci sono ingredienti nel sistema</div>
    <ul>
      <li th:each="ingredient : ${ingredients}">
		<a th:href="@{'/ingredient' + '/' + ${ingredient.id}}"
           th:text="${ingredient}">Besciamella</a>      
           </li>
    </ul>
  </body>
</html>
